APP_NAME=AI Marketing Campaign Maker API
APP_VERSION=1.0.0
ENV=dev
CORS_ORIGINS=http://localhost:3000

GOOGLE_CLOUD_PROJECT=gemini-hacathon-project
GOOGLE_CLOUD_REGION=us-central1
GCS_BUCKET_NAME=your-campaign-assets-bucket

GEMINI_USE_VERTEX=true
GEMINI_TEXT_MODEL=gemini-2.0-flash
GEMINI_IMAGE_MODEL=gemini-2.0-flash-preview-image-generation

# Use only if GEMINI_USE_VERTEX=false
GEMINI_API_KEY=

FIRESTORE_COLLECTION=campaigns
